/* Overlay */

#overlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.5);

    opacity:0;

    visibility:hidden;

    transition:.3s;

    z-index:998;

}

/* Drawer */

#carrinho{

    position:fixed;

    top:0;

    right:-420px;

    width:420px;

    max-width:100%;

    height:100vh;

    background:white;

    display:flex;

    flex-direction:column;

    transition:.35s;

    z-index:999;

    box-shadow:-10px 0 30px rgba(0,0,0,.15);

}

#carrinho.aberto{

    right:0;

}

#overlay.aberto{

    opacity:1;

    visibility:visible;

}

.carrinho-header{

    padding:20px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    border-bottom:1px solid #eee;

}

.carrinho-header h2{

    margin:0;

}

#fecharCarrinho{

    border:none;

    background:none;

    font-size:30px;

    cursor:pointer;

}

.carrinho-itens{

    flex:1;

    overflow:auto;

    padding:20px;

}

.item-carrinho{

    display:flex;

    gap:15px;

    margin-bottom:20px;

}

.item-carrinho img{

    width:80px;

    height:80px;

    object-fit:cover;

    border-radius:12px;

}

.info-item{

    flex:1;

}

.info-item h4{

    margin-bottom:8px;

}

.quantidade{

    display:flex;

    align-items:center;

    gap:10px;

    margin-top:10px;

}

.quantidade button{

    width:28px;

    height:28px;

    border:none;

    background:#EA1D2C;

    color:white;

    border-radius:50%;

    cursor:pointer;

}

.carrinho-footer{

    border-top:1px solid #eee;

    padding:20px;

}

.linha{

    display:flex;

    justify-content:space-between;

    margin-bottom:12px;

}

.total{

    font-size:20px;

    font-weight:bold;

}

#btnCheckout{

    width:100%;

    margin-top:20px;

    padding:18px;

    border:none;

    border-radius:12px;

    background:#EA1D2C;

    color:white;

    font-size:17px;

    cursor:pointer;

}